.mainPage {
    height: 100%;
    /* border: 5px solid #ffcc5c; */
    display: flex;
    justify-content: center;
}

.row {
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.boxA {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxB {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centralise {
    width:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centralise > div{
    margin-top:20px;
    margin-bottom: 10px;
}

