.mainPage{
    margin-top: 10px;
    display:grid;
    grid-template-columns: repeat(2, auto);
}

.boxA{  
    
}

.boxB{
    margin-left: 20px;
}

.centralise{
   display:flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.centralise2{
    display:flex;
    justify-content: center;
    align-items: center;
 }